%footer.site-footer
  .container
    .site-footer-inner.has-top-divider
      .brand.footer-brand
      %ul.footer-links.list-reset
        = link_to "@anuraag_y", "https://twitter.com/anuraag_y", style: "font-weight: bold"
        &nbsp;if (when) things break
      %ul.footer-social-links.list-reset
      .footer-copyright © 2019 Automailer, all rights reserved