- if current_user.present?
  #dash
    .container.top-margin
      .content-box
        %h1.inline-block Your Campaigns
        .inline-block.pull-right
          = link_to "+ New Campaign", "javascript:void(0)", class: "btn btn-primary", id: "new-campaign-btn"
        %hr
        .row
          - current_user.campaigns.each do |campaign|
            = render "campaigns/campaign", campaign: campaign
    #modal-container