.col-md-4
  .card.campaign-card
    .card-body
      %p
        = credential.name
      - if credential.provider == "Gmail"
        .badge.badge-danger
          %i.fa.fa-google 
          &nbsp;Gmail
      - if credential.provider == "Outlook"
        .badge.badge-info
          %i.fa.fa-windows
          &nbsp;Outlook
      .pull-right
        = link_to "Manage", credential_path(credential), class: "badge"
        = link_to "Delete", credential_path(credential), method: :delete, class: "badge",  data: { 'confirm' => "Are you sure you want to delete this credential?" }
