.col-md-4
  .card.campaign-card
    .card-body
      %p
        = credential.name
      .badge.badge-primary
        = credential.provider
      .pull-right
        = link_to "Manage", credential_path(credential), class: "badge"
        = link_to "Delete", credential_path(credential), method: :delete, class: "badge"
