- if current_user.present?
  #credentials-dash
    .container.top-margin
      .content-box
        %h1.inline-block Credentials
        .inline-block.pull-right
          = link_to "+ New Credential", "javascript:void(0)", class: "btn btn-primary", id: "new-credential-btn"
        %hr
        - if current_user.credentials.present?
          .row
            - current_user.credentials.each do |credential|
              = render "credentials/credential", credential: credential
        - else 
          %h2.text-center{style: "margin-top: 50px"} No email credentials to show
    #modal-container