- if current_user.present?
  #credentials-dash
    .container.top-margin
      .content-box
        %h1.inline-block Your Email Credentials
        .inline-block.pull-right
          = link_to "+ New Credential", "javascript:void(0)", class: "btn btn-primary", id: "new-credential-btn"
        %hr
        .row
          - current_user.credentials.each do |credential|
            = render "credentials/credential", credential: credential
    #modal-container