.col-md-4
  .card.campaign-card
    .card-body
      %p
        = campaign.name
      .pull-right
        .badge.badge-primary.card-badge
          = campaign.status
        - if campaign.template.present?
          .badge.badge-success
            Template
        - else 
          .badge.badge-danger
            Template
        - if campaign.data.present?
          .badge.badge-success
            Data
        - else 
          .badge.badge-danger
            Data
      = link_to "Manage", campaign_path(campaign), class: "badge"
      = link_to "Delete", campaign_path(campaign), method: :delete, class: "badge"
