.col-md-4
  .card.campaign-card
    .card-body
      %p
        = campaign.name
      .pull-right
        - if campaign.template.present?
          .badge.badge-primary
            Template
        - if campaign.data.present?
          .badge.badge-primary
            Data
      = link_to "Manage", campaign_path(campaign), class: "badge"
      = link_to "Delete", campaign_path(campaign), method: :delete, class: "badge"
