%table.body{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-collapse: separate; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%; background-color: #f6f6f6;"}
  %tr
    %td{:style => "font-family: sans-serif; font-size: 14px; vertical-align: top;"}  
    %td.container{:style => "font-family: sans-serif; font-size: 14px; vertical-align: top; display: block; Margin: 0 auto; max-width: 580px; padding: 10px; width: 580px;"}
      .content{:style => "box-sizing: border-box; display: block; Margin: 0 auto; max-width: 580px; padding: 10px;"}
        / START CENTERED WHITE CONTAINER
        %table.main{:style => "border-collapse: separate; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%; background: #ffffff; border-radius: 3px;"}
          / START MAIN CONTENT AREA
          %tr
            %td.wrapper{:style => "font-family: sans-serif; font-size: 14px; vertical-align: top; box-sizing: border-box; padding: 20px;"}
              %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-collapse: separate; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%;"}
                %tr
                  %td{:style => "font-family: sans-serif; font-size: 14px; vertical-align: top;"}
                    %p{:style => "font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; Margin-bottom: 15px;"} Hi there,
                    %p{:style => "font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; Margin-bottom: 15px;"} We are excited to hear that you want to start using Automailer. Please click the button below to confirm you email. 
                    %table.btn.btn-primary{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-collapse: separate; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%; box-sizing: border-box;"}
                      %tbody
                        %tr
                          %td{:align => "left", :style => "font-family: sans-serif; font-size: 14px; vertical-align: top; padding-bottom: 15px;"}
                            %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-collapse: separate; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: auto;"}
                              %tbody
                                %tr
                                  %td{:style => "font-family: sans-serif; font-size: 14px; vertical-align: top; background-color: #3498db; border-radius: 5px; text-align: center;"}
                                    %a{:href => "#{user_confirmation_url(confirmation_token: @token)}", :style => "display: inline-block; color: #ffffff; background-color: #3498db; border: solid 1px #3498db; border-radius: 5px; box-sizing: border-box; cursor: pointer; text-decoration: none; font-size: 14px; font-weight: bold; margin: 0; padding: 12px 25px; text-transform: capitalize; border-color: #3498db;", :target => "_blank"} Confirm your email
          / END MAIN CONTENT AREA
        / START FOOTER
        .footer{:style => "clear: both; Margin-top: 10px; text-align: center; width: 100%;"}
          %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-collapse: separate; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%;"}
            %tr
              %td.content-block{:style => "font-family: sans-serif; vertical-align: top; padding-bottom: 10px; padding-top: 10px; font-size: 12px; color: #999999; text-align: center;"}
                %span.apple-link{:style => "color: #999999; font-size: 12px; text-align: center;"} 320 North St, West Lafayette, IN 47906
        / END FOOTER
        / END CENTERED WHITE CONTAINER
    %td{:style => "font-family: sans-serif; font-size: 14px; vertical-align: top;"}  